<div class="container" style="max-width: 600px; width: 100%; margin: 0 auto; padding: 20px; background-color: #FBE2A1; border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
    <div class="header" style="text-align: center; margin-bottom: 40px;">
        <a href="http://matissue.com" target="_blank" rel="noopener noreferrer">
            <img src="https://kdt-sw-4-team10.elicecoding.com/logo.svg" alt="맛이슈 로고" style="max-width: 50%; height: auto;">
        </a>
    </div>
    <div class="content" style="background-color: #ffffff; border-radius: 5px; padding: 20px; text-align: center;">
        <p style="margin-bottom: 20px; font-size: 18.5px; line-height: 24px; color: #4F3D21;">귀하의 아이디는 <strong>{{ user_id }}</strong>입니다.</p>
    </div>
    <div class="footer" style="text-align: center; margin-top: 40px; color: #4F3D21; font-size: 13px;">
        <p>맛이슈 | 피자나라 치킨특별시 맛이슈로 23 | 02-7777-7777</p>
    </div>
</div>
